*.o
*.exe
*.a
.*.sw*
examples/ex_configfile
examples/ex_exceptions
examples/ex_hash
examples/ex_list
examples/ex_monolith
examples/ex_network
examples/ex_nstr
examples/ex_signals
examples/ex_common
examples/ex_network
examples/ex_gui_particles
examples/ex_log
examples/ex_pcre
examples/ex_threads
examples/ex_debug_mem
examples/sslexample.c
api_nilorea/*
api_nilorea/*.*
*.new
cmake_build/*
cmake_build/*.*
html/*
html/*.*
doxygen/
libnilorea*
*.layout
*.depend
*.txt
*.log
*.lock
*.ttf
*.tmp
