# Copyright (c) 2005, 2011, Oracle and/or its affiliates.
# Copyright (c) 2008-2011, Monty Program Ab
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU Library General Public
# License as published by the Free Software Foundation; version 2
# of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Library General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

#
# Valgrind suppression file for nilorea-library examples.
#
# Suppresses common (not fatal) false positives from system libraries
# (glibc, pthreads, zlib, OpenSSL, librdkafka) that are not caused by
# nilorea code.
#
# Based on the MySQL/glibc suppression set; trimmed to keep only the
# entries relevant to nilorea's dependencies.
#

# ============================================================
# pthreads / glibc TLS allocations
# ============================================================
# Pthread does not free all thread-local storage before program exit.

{
   pthread_allocate_tls_1
   Memcheck:Leak
   fun:calloc
   fun:_dl_allocate_tls
   fun:allocate_stack
   fun:pthread_create*
}

{
   pthread_allocate_tls_2
   Memcheck:Leak
   fun:calloc
   fun:_dl_allocate_tls
   fun:pthread_create*
}

{
   pthread_allocate_tls_3
   Memcheck:Leak
   fun:calloc
   obj:/lib*/ld*.so
   fun:_dl_allocate_tls
   fun:pthread_create*
}

{
   pthread_allocate_dtv_1
   Memcheck:Leak
   fun:calloc
   fun:allocate_dtv
   fun:_dl_allocate_tls_storage
   fun:__GI__dl_allocate_tls
   fun:pthread_create
}

{
   pthread_allocate_dtv_2
   Memcheck:Leak
   fun:calloc
   fun:allocate_dtv
   fun:_dl_allocate_tls
   fun:pthread_create*
}

{
   pthread_memalign_tls
   Memcheck:Leak
   fun:memalign
   fun:_dl_allocate_tls_storage
   fun:__GI__dl_allocate_tls
   fun:pthread_create
}

{
   pthread_allocate_tls_glibc261
   Memcheck:Leak
   fun:calloc
   obj:*/ld-*.so
   fun:_dl_allocate_tls
   fun:pthread_create*
}

{
   pthread_tls_possible_leak
   Memcheck:Leak
   match-leak-kinds: possible
   fun:calloc
   fun:allocate_dtv
   fun:_dl_allocate_tls
   fun:allocate_stack
}

# glibc 2.34+ wraps calloc through rtld-malloc.h, producing an extra
# stack frame (calloc -> calloc -> allocate_dtv) that the rules above
# do not match.  The wildcard "..." covers any number of intermediate
# frames between calloc and allocate_dtv.

{
   pthread_allocate_dtv_glibc234
   Memcheck:Leak
   match-leak-kinds: possible
   fun:calloc
   ...
   fun:allocate_dtv
   fun:_dl_allocate_tls
   fun:allocate_stack
   fun:pthread_create*
}

{
   pthread_allocate_tls_glibc234
   Memcheck:Leak
   fun:calloc
   ...
   fun:allocate_dtv
   fun:_dl_allocate_tls
   fun:allocate_stack
   fun:pthread_create*
}

# ============================================================
# pthreads exit / dlopen cleanup
# ============================================================

{
   pthread_exit_dl_new_object
   Memcheck:Leak
   fun:malloc
   fun:_dl_new_object
   fun:_dl_map_object_from_fd
}

{
   pthread_exit_dl_map_object
   Memcheck:Leak
   fun:malloc
   fun:_dl_map_object
   fun:dl_open_worker
}

{
   pthread_exit_dl_map_object_deps
   Memcheck:Leak
   fun:malloc
   fun:_dl_map_object_deps
   fun:dl_open_worker
}

{
   pthread_exit_dl_check_map
   Memcheck:Leak
   fun:calloc
   fun:_dl_check_map_versions
   fun:dl_open_worker
}

{
   pthread_exit_dl_new_object_calloc
   Memcheck:Leak
   fun:calloc
   fun:_dl_new_object
   fun:_dl_map_object_from_fd
}

{
   dlclose_leak
   Memcheck:Leak
   fun:*alloc
   ...
   fun:dlclose
}

{
   dlsym_leak
   Memcheck:Leak
   fun:*alloc
   ...
   fun:dlsym
}

{
   dlopen_reachable
   Memcheck:Leak
   match-leak-kinds: reachable
   ...
   fun:_dl_open
}

# glibc 2.35+ _dl_find_object infrastructure allocates internal
# mappings via _dlfo_mappings_segment_allocate during dlopen.
# Reported as "possibly lost" because the pointer is only reachable
# through glibc-internal data structures.

{
   dlopen_find_object_possible
   Memcheck:Leak
   match-leak-kinds: possible
   fun:malloc
   ...
   fun:_dl_find_object_update*
   ...
   fun:_dl_open
}

{
   dlopen_find_object_segment
   Memcheck:Leak
   match-leak-kinds: possible
   fun:malloc
   ...
   fun:_dlfo_mappings_segment_allocate
   ...
   fun:_dl_open
}

{
   dlopen_threaded_leak
   Memcheck:Leak
   fun:calloc
   obj:*/libdl-*.so
   fun:dlopen*
}

{
   do_lookup_x_leak
   Memcheck:Leak
   fun:calloc
   fun:do_lookup_x
   fun:_dl_lookup_symbol_x
   ...
   fun:_dl_catch_error
}

# ============================================================
# glibc dynamic linker
# ============================================================

{
   dl_relocate_object
   Memcheck:Cond
   fun:_dl_relocate_object
}

{
   dl_main_cond
   Memcheck:Cond
   ...
   fun:dl_main
   fun:_dl_sysdep_start
   fun:_dl_start
}

{
   dl_start_addr8
   Memcheck:Addr8
   fun:_dl_start
}

{
   dl_start_addr4
   Memcheck:Addr4
   fun:_dl_start
}

{
   dl_init_addr8
   Memcheck:Addr8
   fun:_dl_init
}

{
   dl_init_addr4
   Memcheck:Addr4
   fun:_dl_init
}

{
   dl_runtime_resolve_addr8
   Memcheck:Addr8
   fun:_dl_runtime_resolve
}

{
   libc_start_main_addr8
   Memcheck:Addr8
   fun:__libc_start_main
}

{
   debian_ld_uninitialized
   Memcheck:Cond
   fun:index
   fun:expand_dynamic_string_token
   ...
   fun:_dl_start
   ...
}

# ============================================================
# glibc getaddrinfo / resolver
# ============================================================

{
   getaddrinfo_leak
   Memcheck:Leak
   fun:malloc
   ...
   fun:getaddrinfo
}

{
   libc_res_nsend_cond
   Memcheck:Cond
   fun:__libc_res_nsend
   fun:__libc_res_nquery
}

{
   gethostbyaddr_r_cond
   Memcheck:Cond
   fun:__libc_res_nsend
   fun:__libc_res_nquery
   obj:/lib64/libnss_dns-*so)
   obj:/lib64/libnss_dns-*so)
   fun:gethostbyaddr_r
}

# inet_ntoa per-thread static buffer (freed at thread exit, invisible to
# valgrind when called from the main thread)
{
   inet_ntoa_tls
   Memcheck:Leak
   fun:malloc
   fun:inet_ntoa
}

# ============================================================
# zlib
# ============================================================

{
   libz_deflate_cond
   Memcheck:Cond
   obj:*/libz.so.*
   obj:*/libz.so.*
   fun:deflate
   fun:compress2
}

{
   libz_deflate_cond2
   Memcheck:Cond
   obj:*/libz.so.*
   obj:*/libz.so.*
   fun:deflate
   obj:*/libz.so.*
   fun:gzflush
}

{
   libz_longest_match_compress2
   Memcheck:Cond
   fun:longest_match
   fun:deflate_slow
   fun:deflate
   fun:compress2
}

{
   libz_tr_flush_block_compress2
   Memcheck:Cond
   fun:_tr_flush_block
   fun:deflate_slow
   fun:deflate
   fun:compress2
}

{
   libz_inflateReset2
   Memcheck:Cond
   fun:inflateReset2
   fun:inflateInit2_
   fun:uncompress
}

# ============================================================
# OpenSSL
# ============================================================

{
   ssl_read_cond
   Memcheck:Cond
   fun:ssl3_read_bytes
   fun:ssl3_read_internal
}

{
   ssl_library_init_leak
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:*alloc
   fun:CRYPTO_malloc
   fun:sk_new
   obj:*libssl*
   fun:SSL_COMP_get_compression_methods
   fun:SSL_library_init
}

{
   ssl_library_init_reachable
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   ...
   fun:SSL_library_init
}

{
   ssl_add_all_algorithms_reachable
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   ...
   fun:OPENSSL_add_all_algorithms_noconf
}

{
   ssl_add_all_algorithms_reachable2
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:realloc
   ...
   fun:OPENSSL_add_all_algorithms_noconf
}

{
   ssl_add_all_digests_reachable
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   ...
   fun:OpenSSL_add_all_digests
}

{
   ssl_add_all_digests_reachable2
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:realloc
   ...
   fun:OpenSSL_add_all_digests
}

{
   ssl_evp_add_digest_reachable
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   ...
   fun:EVP_add_digest
}

{
   ssl_load_error_strings_reachable
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   ...
   fun:SSL_load_error_strings
}

{
   ssl_err_load_strings_reachable
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   ...
   fun:ERR_load_strings
}

{
   ssl_err_load_strings_reachable2
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:realloc
   ...
   fun:ERR_load_strings
}

{
   ssl_err_load_ssl_strings_reachable
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   ...
   fun:ERR_load_SSL_strings
}

{
   ssl_err_load_ssl_strings_reachable2
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:realloc
   ...
   fun:ERR_load_SSL_strings
}

{
   ssl_openssl_init_library_malloc
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   ...
   fun:OPENSSL_init_library
}

{
   ssl_openssl_init_library_calloc
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:calloc
   ...
   fun:OPENSSL_init_library
}

{
   ssl_fips_mode_set
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   ...
   fun:FIPS_mode_set
}

# ============================================================
# librdkafka (optional)
# ============================================================

{
   kafka_tls_alloc_stack
   Memcheck:Leak
   fun:calloc
   fun:_dl_allocate_tls
   fun:pthread_create@@GLIBC_2.2.5
}

{
   kafka_thrd_tls
   Memcheck:Leak
   match-leak-kinds: possible
   fun:calloc
   fun:allocate_dtv
   fun:_dl_allocate_tls
   fun:allocate_stack
   fun:pthread_create@@GLIBC_2.2.5
   fun:thrd_create
}

{
   kafka_metadata_handle_cond
   Memcheck:Cond
   fun:rd_kafka_metadata_handle
   fun:rd_kafka_broker_metadata_reply
}

{
   kafka_metadata_handle_value8
   Memcheck:Value8
   fun:rd_kafka_metadata_handle
   fun:rd_kafka_broker_metadata_reply
}

# ============================================================
# C++ runtime (e.g. exception handling allocator pool)
# ============================================================

{
   cpp_glibc_globals
   Memcheck:Leak
   match-leak-kinds: reachable
   fun:malloc
   fun:pool
   fun:__static_initialization_and_destruction_0
   fun:_GLOBAL__sub_I_eh_alloc.cc
}

# ============================================================
# glibc backtrace / once
# ============================================================

{
   backtrace_glibc_leak
   Memcheck:Leak
   fun:malloc
   ...
   fun:pthread_once
   fun:backtrace
}
